<!DOCTYPE html SYSTEM "http://thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}" href="/static/css/stylesheet.css">
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"
            href="/static/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div th:replace="~{fragments/header :: headerfragment}">Header</div>
        <div class="position-fixed top-50 start-50 translate-middle">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1 class="text-danger fw-bold text-center curved-text bigger-text">Hart verloren onder den toren</h1>
                    </div>
                    <div class="col-12 text-center">
                        <img style="height: auto; max-width: 100%" th:src="@{/img/RedVan.png}" alt="Red van" src="">
                    </div>
                </div>
            </div>
        </div>
</body>
</html>