<!DOCTYPE html SYSTEM "http://thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type"
          content="text/html; charset=utf-8">
    <title>Love Card</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}" href="/static/css/stylesheet.css">
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"
            href="/static/js/bootstrap.bundle.min.js"></script>

</head>

<body class="mb-5">
<div class="container">
    <div>
        <a onclick="changeLang('en')">
            <img th:src="@{img/EnglishFlag.png}" src="" alt="english vlag" class="me-3  mt-3 flags1">
        </a>
        <a onclick="changeLang('fr')">
            <img th:src="@{img/FrenchFlag.png}" src="" alt="french vlag" class="me-3 mt-3 flags2">
        </a>
        <a onclick="changeLang('nl')">
            <img th:src="@{img/DutchFlag.png}" src="" alt="belgian vlag" class="me-3  mt-3 flags3">
        </a>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12 mt-5">
            <h1 class="text-center">Love Card</h1>
            <form th:action="@{|/addPersonData?language=${#locale.language}|}" method="post" autocomplete="off">
                <div class="form-group">
                    <label for="name" th:text="#{personname}"></label>
                    <input type="text" class="form-control mt-1" id="name" name="name"
                           th:placeholder="#{personname.placeholder}"
                           required>
                </div>
                <div class="form-group mt-3">
                    <label for="email" th:text="#{email}"></label>
                    <input type="email" class="form-control mt-1" id="email" name="email"
                           th:placeholder="#{email.placeholder}"
                           pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$" required>
                </div>
                <div class="form-group mt-3">
                    <label for="birthdate" th:text="#{geboortedatum}"></label>
                    <input type="date" class="form-control mt-1" id="birthdate" name="birthdate" th:max="${today}"
                           th:placeholder="#{geboortedatum.placeholder}" required>
                </div>

                <div class="form-group mt-3">
                    <label for="gender" th:text="#{gender}"></label>
                    <div class="position-relative">
                        <select class="form-control mt-1" id="gender" name="genderId" required>
                            <option value="" th:text="#{gender.placeholder}"></option>
                            <div th:if="${#locale.language} == 'en'">
                                <div th:each="gender : ${genders}">
                                    <option th:value="${gender.getId()}"
                                            th:text="${gender.getGenderEnglish()}"></option>
                                </div>
                            </div>
                            <div th:if="${#locale.language} == 'fr'">
                                <div th:each="gender : ${genders}">
                                    <option th:value="${gender.getId()}"
                                            th:text="${gender.getGenderFrench()}"></option>
                                </div>
                            </div>
                            <div th:if="${#locale.language} == 'nl'">
                                <div th:each="gender : ${genders}">
                                    <option th:value="${gender.getId()}"
                                            th:text="${gender.getGender()}"></option>
                                </div>
                            </div>
                        </select>
                        <div class="arrow-down position-absolute top-50 end-0 me-3 translate-middle-y"> &darr;</div>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <label for="crystalBall" th:text="#{crystalBall}"></label>
                    <div class="position-relative">
                        <select class="form-control mt-1" id="crystalBall" name="crystalBallId" required>
                            <option value="" th:text="#{kristalbal.placeholder}"></option>
                            <div th:if="${#locale.language} == 'en'">
                                <div th:each="crystalBall : ${crystalBall}">
                                    <option th:value="${crystalBall.getId()}"
                                            th:text="${crystalBall.getCrystalBallEnglish()}"></option>
                                </div>
                            </div>
                            <div th:if="${#locale.language} == 'fr'">
                                <div th:each="crystalBall : ${crystalBall}">
                                    <option th:value="${crystalBall.getId()}"
                                            th:text="${crystalBall.getCrystalBallFrench()}"></option>
                                </div>
                            </div>
                            <div th:if="${#locale.language} == 'nl'">
                                <div th:each="crystalBall : ${crystalBall}">
                                    <option th:value="${crystalBall.getId()}"
                                            th:text="${crystalBall.getCrystalBall()}"></option>
                                </div>
                            </div>
                        </select>
                        <div class="arrow-down position-absolute top-50 end-0 me-3 translate-middle-y"> &darr;</div>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <label for="perfectDay" th:text="#{perfectDay}"></label>
                    <div class="position-relative">
                        <select class="form-control mt-1" id="perfectDay" name="perfectDayId" required>
                            <option value="" th:text="#{perfectedag.placeholder}"></option>
                            <div th:if="${#locale.language} == 'en'">
                                <div th:each="perfectDay : ${perfectDays}">
                                    <option th:value="${perfectDay.getId()}"
                                            th:text="${perfectDay.getPerfectDayEnglish()}"></option>
                                </div>
                            </div>
                            <div th:if="${#locale.language} == 'fr'">
                                <div th:each="perfectDay : ${perfectDays}">
                                    <option th:value="${perfectDay.getId()}"
                                            th:text="${perfectDay.getPerfectDayFrench()}"></option>
                                </div>
                            </div>
                            <div th:if="${#locale.language} == 'nl'">
                                <div th:each="perfectDay : ${perfectDays}">
                                    <option th:value="${perfectDay.getId()}"
                                            th:text="${perfectDay.getPerfectDay()}"></option>
                                </div>
                            </div>
                        </select>
                        <div class="arrow-down position-absolute top-50 end-0 me-3 translate-middle-y"> &darr;</div>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <label for="famous" th:text="#{fame}"></label>
                    <input type="text" class="form-control mt-1" id="famous" name="famous" required>
                </div>
                <div class="form-group mt-3 interests">
                    <label th:text="#{selectinterests}"></label>
                    <div class="mx-3 checkBoxForm">
                        <div th:each="interest : ${interests}">
                            <div th:if="${#locale.language} == 'fr'">
                                <label>
                                    <input type="checkbox" th:id="${interest.getInterests()}" name="interestsId"
                                           th:value="${interest.getId()}" required>
                                </label>
                                <label class="checkBoxOption" th:for="${interest.getInterests()}"
                                       th:text="${interest.getInterestsFrench()}"></label>
                            </div>
                            <div th:if="${#locale.language} == 'en'">
                                <label>
                                    <input type="checkbox" th:id="${interest.getInterests()}" name="interestsId"
                                           th:value="${interest.getId()}" required>
                                </label>
                                <label class="checkBoxOption" th:for="${interest.getInterests()}"
                                       th:text="${interest.getInterestsEnglish()}"></label>
                            </div>
                            <div th:if="${#locale.language} == 'nl'">
                                <label>
                                    <input type="checkbox" th:id="${interest.getInterests()}" name="interestsId"
                                           th:value="${interest.getId()}" required>
                                </label>
                                <label class="checkBoxOption" th:for="${interest.getInterests()}"
                                       th:text="${interest.getInterests()}"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-lg btn-block nextButton" th:text="#{nextButton}"></button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    const checkboxes = document.querySelectorAll('input[type="checkbox"][name="interestsId"]');
    checkboxes.forEach(checkbox => {
        checkbox.addEventListener('change', () => {
            if (checkbox.checked) {
                checkboxes.forEach(otherCheckbox => {
                    if (otherCheckbox !== checkbox) {
                        otherCheckbox.removeAttribute('required');
                    }
                });
            } else {
                checkboxes.forEach(otherCheckbox => {
                    otherCheckbox.setAttribute('required', '');
                });
            }
        });
    });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript">
    function changeLang(language) {
        let selectedOption = language;
        if (selectedOption !== '') {
            window.location.replace('personalInformationForm?language=' + selectedOption);
        }
    }
</script>
</body>
</html>